@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@font-face {
  font-family: "TheSansArabic";
  src: URL("fonts/TheSansArabic.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TheSansArabic", Helvetica, sans-serif;
}

.Chart {
  font-family: sans-serif;
  text-align: center;
}
